<h2>Add a supplier</h2><br>
<div class="d-flex justify-content-between">
  <div class="SupplierFormPartA">
    <mat-form-field appearance="fill">
      <mat-label>Id</mat-label>
      <input matInput [(ngModel)]="addSupplierForm.id">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Supplier Id</mat-label>
      <input matInput [(ngModel)]="addSupplierForm.supplierID">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Supplier ID</mat-label>
      <input matInput [(ngModel)]="addSupplierForm.supplierID">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="addSupplierForm.name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input matInput [(ngModel)]="addSupplierForm.name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Telephone</mat-label>
      <input matInput [(ngModel)]="addSupplierForm.telephone">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Link</mat-label>
      <input matInput [(ngModel)]="addSupplierForm.link">
    </mat-form-field>
  </div>
    <br>
    <div class="SupplierFormPartB">
        <mat-form-field color="accent" appearance="fill">
            <mat-label>Work Address</mat-label>
            <input matInput [(ngModel)]="addSupplierForm.workAddress">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="addSupplierForm.city">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Street</mat-label>
            <input matInput [(ngModel)]="addSupplierForm.street">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <input matInput [(ngModel)]="addSupplierForm.state">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Zip</mat-label>
            <input matInput [(ngModel)]="addSupplierForm.zip">
        </mat-form-field>
        <br>
    </div>
    <div>
        <img mat-card-image src="../assets/images/cheese.svg" alt="Photo of cheese">
    </div>
</div>
<div class="d-flex justify-content-center">
    <button mat-raised-button color="primary" (click)="addNew()">Add</button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>
