<div class="d-flex justify-content-between">
    <div class="ProductFormPartA">
        <mat-form-field appearance="fill">
            <mat-label>Product Id</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Weight</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field color="accent" appearance="fill">
            <mat-label>Expiry Date</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="ProductFormPartB">
        <mat-form-field appearance="fill">
            <mat-label>Barcode</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Brand</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="category">
                <mat-option *ngFor="let category of categories" [value]="category.value">
                    {{category.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Supplier Id</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
    </div>
    <div>
        <img mat-card-image src="cheese.svg" alt="Photo of cheese">
    </div>
</div>
<div class="d-flex justify-content-center">
    <button mat-raised-button color="primary" (click)="addNew()">Add</button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>