<h2>Add a product</h2><br>
<div class="d-flex justify-content-between">
    <div class="image">
        <img mat-card-image src="../assets/images/cheese.svg" alt="Photo of cheese">
    </div>
    <div class="ProductFormPartA">
        <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput [(ngModel)]="addProductForm.id">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Product ID</mat-label>
            <input matInput [(ngModel)]="addProductForm.productID">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="addProductForm.name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="addProductForm.description"></textarea>
        </mat-form-field>
    </div>
    <br>
    <div class="ProductFormPartB">
        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput [(ngModel)]="addProductForm.price">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Weight</mat-label>
            <input matInput [(ngModel)]="addProductForm.weight">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Expiry Date</mat-label>
            <input matInput [(ngModel)]="addProductForm.expiry_Date" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Barcode</mat-label>
            <input matInput [(ngModel)]="addProductForm.barcode">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Brand</mat-label>
            <input matInput [(ngModel)]="addProductForm.brand">
        </mat-form-field>
    </div>
    <div class="ProductFormPartC">
        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="addProductForm.category" name="category">
                <mat-option *ngFor="let category of categories" [value]="category.value">
                    {{category.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Supplier ID</mat-label>
            <input matInput [(ngModel)]="addProductForm.supplierID">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Modified By</mat-label>
            <input matInput [(ngModel)]="addProductForm.modifiedBy">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Modified Date</mat-label>
            <input matInput [(ngModel)]="addProductForm.modifiedDate" [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br>
        <br>
        <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary" (click)="addNew()" (click)="createProduct()">Add</button>
            <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        </div>
    </div>
</div>