<h2>Edit a supplier</h2><br>

<div class="d-flex justify-content-between">
  <div class="SupplierFormPartA">

    <mat-form-field appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Supplier ID</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Telephone</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Link</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Work Address</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
    <div class="SupplierFormPartB">
        <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Street</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>State</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Zip</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
    </div>
</div>
<div class="d-flex justify-content-center">
    <button mat-raised-button color="primary" (click)="onEdit()">Save</button>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>
